
a{
    color: black;
}
a:hover{
    color:white;
}
.my-navbar{
    background:black;
    margin: 10px;
    border-radius: 5px;
}
.my-navbar a:hover{
    background:white;
}
.my-navbar a{
color:red;

}
.image{
    
    width: 100%;
    text-align: center;
}

.video{
    padding: 5px;
    display: flex;
    justify-content: center;


}
.video img{
    margin : 5px;
    width: 100%;
}
 .my-tabs{
    width: 100%;
    font-size: 20px;
    border-bottom: 1px solid #ca0909e7;
}
.my-tab{
    cursor: pointer;
    margin-bottom: 2px;
    margin-left: 5px;
   
}
.my-tabs a:hover{
   background:rgb(243, 22, 22);
   
} 
.nav-tabs .nav-link.active {
    border: none;
}
.nav-tabs .nav-link.active:hover {
    border: 1px solid rgb(248, 9, 9);
    border-radius: 0px;
    background: rgb(241, 8, 8);
    color: white;
}